
.table thead tr th { 
    font-size: .85rem;
    font-weight: 600;
    color: #374151;
}
.table th, .table td { 
    vertical-align: middle;
    line-height: 1.462;
    font-size: .813rem;
    font-weight: 400;
    color: #374151;  
}
