.custom-dropdown-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  min-width: 180px;
}

.custom-btn-dropdown {
    width: 100%;
    padding: 10px 8px;
    font-size: 15px;
    border: 1px solid #B94EED;
    background-color: #ffffff;
    color: #B94EED;
    border-radius: 25px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex
;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    box-shadow: 0 3px 6px rgba(185, 78, 237, 0.1);
}
/* 
.custom-btn-dropdown:hover {
  background-color: #f9efff;
  border-color: #a53cd3;
  color: #a53cd3;
} */

.custom-arrow-dropdown {
  margin-left: 10px;
  transition: transform 0.3s ease;
  font-size: 12px;
}

.custom-arrow-dropdown.open {
  transform: rotate(180deg);
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #ffffff;
  border: 1px solid #B94EED;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 10;
  max-height: 220px;
  overflow-y: auto;
  margin-top: 6px;
}

.custom-dropdown-option {
  padding: 10px 14px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* .custom-dropdown-option:hover {
  background-color: #f5dbff;
  color: #B94EED;
} */

/* .custom-dropdown-option-selected {
  background-color: #e8c8fb;
  font-weight: 600;
  color: #B94EED;
} */


.custom-dropdown-option-selected {
    background-color: #B94EED;
    font-weight: 600;
    color: white;
}