/* =============================
   Common Form Styles
============================= */

.form-container {
  padding: 20px;
  margin: auto;
} 
/* Input & Select Styling */
input[type="text"],
input[type="date"],
input[type="number"],
textarea,
select {
  font-size: 15px !important;
  width: 100% !important;
  padding: 8px !important;
  border-radius: 4px !important;
  border: 1px solid rgb(204, 204, 204) !important;
  margin-top: 6px;
}

/* Error styling */
.input-error {
  border: 1px solid red !important;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

/* =============================
   Form Grid Layout
============================= */

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.input-wrapper {
  margin-bottom: 16px;
}

.full-width {
  grid-column: span 3;
}

@media (max-width: 992px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .full-width {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
  .full-width {
    grid-column: span 1;
  }
}

/* =============================
   Form Controls
============================= */

.form-buttons {
  margin-top: 30px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.form-selector {
  margin-bottom: 20px;
}

.form-tag {
  margin-bottom: 0px !important;
}

/* =============================
   Tab Styling
============================= */

.tab-header {
  display: flex;
  border-bottom: 2px solid #45D65B;
  margin-bottom: 1rem;
}

.tab-button {
  padding: 0.5rem 1.5rem;
  border: none;
  background: #E7FCE7;
  color: #45D65B;
  cursor: pointer;
  font-weight: 500;
}

.tab-button.active {
  background: #45D65B;
  color: white;
}

/* =============================
   Note Section Styling
============================= */

.note-section {
  padding: 12px;
  /* background-color: #f8f8f8; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
}

.note-label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.note-section ol {
  padding-left: 20px;
  margin: 0;
  
}

.note-section li {
  line-height: 1.6;
  list-style-type: number;
}
.dlt-danger{
  background-color: #FDEDEB;
  color: #E74C3C !important;
}

.dlt-danger:hover{
  background-color: #E74C3C;
  color: #FDEDEB !important;
}

th,td{
  text-align: center;
}
.btn-add{
  background-color: #E7FCE7;
  color:#45D65B !important;
}

.btn-add:hover{
  background-color: #45D65B;
  color:#E7FCE7 !important;
}