.gstr01-table{
  border: 1px solid #C772F1 !important;
} 

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.gstr-table {
  width: max-content;  /* Allows table to expand naturally based on content */
  min-width: 100%;     /* Ensure it fills container initially */
  white-space: nowrap; /* Prevent content wrapping in cells */
}
.align-items-center{
  max-width: 100%;
}

@media (min-width: 1088px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1020px !important;
  }
}
 
/* tabs */
.gstr-tabs {
  /* display: flex; */
  flex-wrap: wrap;
  /* justify-content: center; */
  /* gap: 12px; */
  margin-top: 20px;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid #C772F1; */
  
}
.gstr-tabs .btn ,.gstr-tab-btn  {
  border-radius: 0px !important;
}

.gstr-tab-btn {
  /* border-radius: 30px; */
  padding: 8px 20px;
  font-weight: 500; 
  transition: all 0.3s ease-in-out;
  /* border: 1px solid var(--primary-color, #4e73df); */
  border: 1px solid #C772F1;
}

.gstr-tab-btn:hover {
  background : linear-gradient(135deg, #5e3cf7, #b94eed);
  color: white;
}

.gstr-tab-btn.active {
  background: linear-gradient(135deg, #5e3cf7, #b94eed);
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.dropdown .dropdown-toggle {
  /* border-radius: 30px; */
  padding: 8px 20px;
  font-weight: 500;
}
