.form-control {
    padding: 5px 16px !important;
    font-size: 13px !important;
}
.form-label {
    margin-bottom: 3px !important;
    font-size: 13px !important;
}
  
a{
     color: #374151;  
     text-decoration: none;
     border-bottom: 1px solid #B94EED ;
     /* text-decoration-color: #B94EED; */
}
.card{
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.07);
    border: none;
}
.card-header{
    /* border-block-color: #B94EED !important; */
}
.edit-color{
    color: rgb(69, 214, 91);
}
.btn-view{
    background-color:  #B94EED;
    color: white !important;
}
.btn-view:hover{
    background-color:  #B94EED !important; 
    color: white;
}

.btn-success{
  background-color:rgb(69, 214, 91) !important;
  color: white !important;
  border: none;
}